.body-container_contact {
    background: rgba(245, 198, 236,0.5);
    padding: 3rem 6rem;
    height: 100%;
    position: relative;

    .body-content_title {
        font-size: 24px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: 0.31em;
        text-align: left;   
        margin-bottom: 1rem;      
    }
    .body-content_description{
        font-size: 12px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.1em;
        word-spacing: 0.2em;
        text-align: left;
        margin-bottom: 1rem; 
    }
    .use-full_links {
        gap: 20px;
    }
    .contact_form {
        background-color: white;
        padding: 25px;
        border-radius: 15px;
        .input,.textarea {
            margin-bottom: 1rem;
            background-color: rgba(248, 255, 220, 1);
            &::placeholder{
                color: #00000094;
            }
        }
    }
    
    .button {
        padding: 8px 28px 8px 28px;
        border-radius: 100px;
        border: 1px;
        gap: 8px;
        background: linear-gradient(99.05deg, #B82AD7 0.07%, #FF2A9B 106.32%);
        color: #ffffff;
    }
    
    .contact-us_image {
        position: absolute;
        right: 4rem;
        top: 5rem;
    }

    /* Below 560 */
    @media screen and (max-width: 559px) {
        /* CSS rules for screens below 560px */
        padding: 2rem;
    }
    
    /* Between 560 and 767 */
    @media screen and (min-width: 560px) and (max-width: 767px) {
        /* CSS rules for screens between 560px and 767px */
    }
    
    /* Between 768 and 1024 */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        /* CSS rules for screens between 768px and 1024px */
        padding: 3rem;
        .contact-us_image {
            right: 1rem;
        }
    }
    
    /* Between 1024 and 1280 */
    @media screen and (min-width: 1023px) and (max-width: 1279px) {
        /* CSS rules for screens between 1024px and 1280px */
    }
    
    /* Above 1280 */
    @media screen and (min-width: 1280px) {
        /* CSS rules for screens above 1280px */
    }
}

