.body-container_contact {
    background: rgba(245, 198, 236, 0.25);
    margin: 4rem auto;
    padding: 3rem 6rem;
    border-radius: 50px;

    .body-content_title {
        font-size: 24px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: 0.31em;
        text-align: left;   
        margin-bottom: 1rem;      
    }
    .body-content_description{
        font-size: 12px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.1em;
        word-spacing: 0.2em;
        text-align: left;
        margin-bottom: 1rem; 
    }
    .use-full_links {
        gap: 20px;
    }
    .contact_form {
        background-color: white;
        padding: 25px;
        border-radius: 15px;
        .input,.textarea {
            margin-bottom: 1rem;
            background-color: rgba(248, 255, 220, 1);
            &::placeholder{
                color: #00000094;
            }
        }
    }
    
    .button {
        padding: 8px 28px 8px 28px;
        border-radius: 100px;
        border: 1px;
        gap: 8px;
        background: linear-gradient(99.05deg, #B82AD7 0.07%, #FF2A9B 106.32%);
        color: #ffffff;
    }
    
    .contact-us_image {
        position: absolute;
        right: 4rem;
        top: 5rem;
    }
}

