.body-container_course {
    background: #FFEAEA80;
    margin: 5rem auto;
    padding: 6rem;
    border-radius: 50px;

    .body-content_course {
        .body-content_title {
            font-size: 40px;
            font-weight: 800;
            line-height: 60px;
            letter-spacing: 0.31em;
            text-align: left;       
        }
        .body-content_description{
            font-size: 13px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.1em;
            word-spacing: 0.2em;
            text-align: left;
            margin-bottom: 2rem; 
        }
        .button {
            padding: 8px 28px 8px 28px;
            border-radius: 100px;
            border: 1px;
            gap: 8px;
            background: linear-gradient(99.05deg, #B82AD7 0.07%, #FF2A9B 106.32%);
            color: #ffffff;
        }
    }
    .courses-slider {
        align-self: center;
        .tile.is-child {
            border-radius: 0rem 1.5rem;
            background: #ffffff;
            .title {
                color: #656565;
                font-family: Roboto Condensed;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 180%; /* 2.25rem */
                letter-spacing: 0.2625rem;
            }
            .subtitle {
                color: #0F0707;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0.165rem;
                padding: 20px 0 5px;
            }
            .view-details {
                color: var(--heading, #0F0707);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 600;
                line-height: 217.188%; /* 1.90038rem */
                letter-spacing: 0.07rem;
                text-decoration-line: underline;
                display: flex;
                justify-content: end;
            }
        }
    }
}

