.body-container_engagements {
    .image-background {
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #F5C6EC;
        border-radius: 25px;
        height: 100%;
        min-height: 230px;
    }
    .image-engagements-1 {
        position: absolute;
        right: 45%;
        top: 10%;
        width: 27%;
    }
    
    .image-engagements-2 {
        position: absolute;
        right: 60%;
        top: 48%;
        width: 27%;
    }
    .section-title.engagement-title {
        margin-bottom: 2rem;
    }

    .body-content_title {
        font-size: 22px;
        font-weight: 600;
        line-height: 52px;
        letter-spacing: 0.31em;
        text-align: left;
        margin-bottom: 1rem;
    }
}