@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
$navbar-item-color :  #656565;
$navbar-item-hover-color:  linear-gradient(108.54deg, #FF2A9B -12.56%, #B82AD7 127.98%);



@import "~bulma/bulma.sass";

html,
body {
  margin: 0;
  font-family: "Roboto";
  //   overflow: hidden;
  @media screen and (min-width: 1024px) {
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
}

.page-container {
  section {

    .section-title {
      color: #000000;
      margin-bottom: 4rem;
      padding-top: 1rem;
    }
    
    .sub-section-title {
      color: #0F0707;
    }
  }
  @media screen and (min-width: 1024px) {
    height: calc(100vh - 3.25rem);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    section {
      height: 100%;
      scroll-snap-align: start;
    }
  }
}


