.body-container_home {
    background: linear-gradient(128.15deg, rgba(245, 198, 236, 0.77) 9.41%, rgba(255, 157, 157, 0.5) 144.94%);
    margin: 5rem auto;
    padding: 5rem;
    border-radius: 50px 50px 300px 50px;

    .body-content_home {
        width: 50%;
        .body-content_title {
            font-family: Roboto;
            font-size: 40px;
            font-weight: 800;
            line-height: 60px;
            letter-spacing: 0.31em;
            text-align: left;
            
            font-family: Roboto;
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 0.31em;
            text-align: left;  
            margin-bottom: 1rem;           
        }
        .body-content_description{
            font-family: Work Sans;
            font-size: 13px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.25em;
            text-align: left;
            margin-bottom: 2rem; 
        }
        .button {
            padding: 8px 28px 8px 28px;
            border-radius: 100px;
            border: 1px;
            gap: 8px;
            background: linear-gradient(99.05deg, #B82AD7 0.07%, #FF2A9B 106.32%);
            color: #ffffff;
        }
    }
}

#bannerImage {
    position: absolute;
    bottom: 0;
    right: 0;
}

