.body-container_home {
    background: linear-gradient(128.15deg, rgba(245, 198, 236, 0.77) 9.41%, rgba(255, 157, 157, 0.5) 144.94%);
    margin: 3rem auto;
    padding: 4rem 6rem;
    border-radius: 50px 50px 300px 50px;
    flex-grow: 0;
    .body-content_home {
        width: 60%;
        .body-content_title {
            font-size: 40px;
            font-weight: 800;
            line-height: 60px;
            letter-spacing: 0.31em;
            text-align: left;            
        }
        .body-content_logo {
            margin-bottom: 2rem;
            width: 52%;
        }
        .body-content_description{
            font-size: 13px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.1em;
            word-spacing: 0.2em;
            text-align: left;
            margin-bottom: 2rem; 
        }
        .button {
            padding: 8px 28px 8px 28px;
            border-radius: 100px;
            border: 1px;
            gap: 8px;
            background: linear-gradient(99.05deg, #B82AD7 0.07%, #FF2A9B 106.32%);
            color: #ffffff;
        }
    }
}

#bannerImage {
    position: absolute;
    top: -30px;
    right: -80px;
}

