.horizontal-scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1rem 0;
    
    
    .tile.is-parent {
        flex: 0 0 300px;
        margin-right: 1rem; /* Add spacing between tiles */
    }
  }