.body-container_institution {
    background: #F8FFDC80;
    margin: 5rem auto;
    padding: 6rem;
    border-radius: 50px;

    .body-content_institution {
        .body-content_title {
            font-size: 20px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 0.31em;
            text-align: left;  
            margin-bottom: 1rem;           
        }
        .body-content_description{
            font-size: 13px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.1em;
            word-spacing: 0.2em;
            text-align: left;
            margin-bottom: 2rem; 
        }
    }
    .courses-slider {
        align-self: center;
    }
}

